<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mojuk.daddyscar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recognize_carnoActivity"></activity>
        <activity android:name=".Nearby_taxiActivity"></activity>
        <activity android:name=".Inside_taxiActivity"></activity>
        <activity android:name=".Review_writeActivity"></activity>
        <activity android:name=".Illegal_taxiActivity"></activity>
        <activity android:name=".Taxi_info_sendActivity"></activity>
        <activity android:name=".Driver_infoActivity"></activity>
        <activity android:name=".LoginActivity"></activity>

    </application>

</manifest>